body {
  line-height: 2;
  font-family: arial;
  color: rgb(255, 255, 253);
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 21px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}

body,
html {
  background-color: rgb(29, 29, 31);
}

main {
  float: left;
  width: 60%;
}

footer,
aside {
  background: #392069;
}
::-webkit-scrollbar {
  display: none;
}



@media screen and (max-width: 1000px) {
  body > section {
    padding: 30px 20px;
  }
}
@media screen and (max-width: 600px) {
  main {
    float: none;
    width: 100%;
  }
  aside {
    float: none;
    width: 100%;
  }
}
