<!--EXPERIENCIA LABORAL-->
<div class="card mat-card">
  <div id="experience">
    <div class="card-titles">
      <h2>Experiencia</h2>
      <div class="btn-edit">
        <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
      </div>
    </div>
  </div>
  <div>
    <ul class="item-list">
      <li *ngFor="let experience of experienceList">
        <div class="data-container">
          <a href="#">
            <div class="logo-image-container">
              <img src="#" alt="logo empresa" class="logo-image" />
            </div>
            <div class="list-info">
              <div>
                <h3>{{experience.position}}</h3>
                <p>{{experience.company}} - <span>{{experience.mode}}</span></p>
                <h4><time>{{experience.start}}</time> - <time>{{experience.end}}</time></h4>
                <h4>{{experience.timelapse}}</h4>
              </div>
            </div>
          </a>
        </div>
        <div class="data-control">
          <div class="btn-edit">
            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!--EDUCACION-->
<div class="card mat-card">
  <div id="education">
    <div class="card-titles">
      <h2>Educación</h2>
      <div class="btn-edit">
        <a href="#" class="btn-right" class="fa fa-pen"></a>
      </div>
    </div>
    <ul class="item-list">
      <li *ngFor="let education of educationList">
        <div class="data-container">
          <a href="#">
            <div class="logo-image-container">
              <img [src]="education.img" alt="logo universidad" class="logo-image" />
            </div>
            <div class="list-info">
              <div>
                <h3>{{education.name}}</h3>
                <a [href]="education.url" target="_blank" rel="noopener noreferrer">site: www.unicen.edu.ar</a>
                <p>{{education.career}}</p>
                <p><time>{{education.start}}</time> - <time>{{education.end}}</time></p>
              </div>
            </div>
          </a>
        </div>
        <div class="data-control">
          <div class="btn-edit">
            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
